---
---
<html lang="en">
  <head>
    <title>Elm Gallery</title>
  </head>
  <body>
    <h1>Elm Image Gallery</h1>
    <div id="elm-root"></div>

    <script type="module">
      import { Elm } from '/src/Main.elm';
      Elm.Main.init({ node: document.getElementById('elm-root') });
    </script>
  </body>
</html>
