---
import '../styles/global.css';
import '../gallery.css';
---
<html lang="en">
  <head>
    <title>Elm Gallery</title>
    <link rel="stylesheet" href="/src/styles/global.css" />
  </head>
  <body>
    <div id="elm-root"></div>
    <script type="module">
      import { Elm } from '/src/Main.elm';
      Elm.Main.init({ node: document.getElementById('elm-root') });
    </script>
  </body>
</html>
